* {
    background-color: #272929;
    color: white;

}
button {
    width: 200px;
    height: 80px;
    font-size: 1.4em;
    font-family: 'EB Garamond', serif;
    font-weight: 100;
    font-stretch: wider;
    letter-spacing: 0.1em;
    border: 1px solid #0000000d;
    background-color: #404040;
    box-shadow: 4px 2px 4px 0 rgba(0, 0, 0.4, 0.2);
}
button:active {
    background-color: #28c870;
}

button:hover {
    background-color: #2782e984;
}

button:focus {
    background-color: #55a1f8;
}

.selected {
    background-color: #2782e9;
}

body {
    font-family: 'Arial', sans-serif;
    text-align: center;
}
h1, h2 {
    font-size: 4em;
    position: relative;
    display: inline-block;
}

h2 {
    font-size: 2em;
}

h1::after, h2::after {
    content: '';
    position: absolute;
    left: -20%;
    right: 0;
    bottom: -10px; /* Adjust the distance from the text */
    height: 2px; /* Thickness of the underline */
    background-color: #617583; /* Color of the underline */
    width: 140%; /* You can adjust this to change how wide the underline is */
}

a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

hr {
    border: none; /* Removes the default border */
    border-top: 2px solid #393939; /* Sets the top border to a 2px solid line with a color of your choice */
}

.playing {
    /* Define a linear gradient that starts and ends with the same color,
       but has a hard transition point that you can move to simulate filling. */
    background-image: linear-gradient(90deg, #2782e9 0%, #2782e9 50%, transparent 50%);
    animation-name: fillAnimation;
    animation-duration: var(--animation-duration);
    animation-fill-mode: forwards;
    animation-timing-function: linear; /* This ensures the animation speed is constant */
    background-size: 200% 100%;
}

@keyframes fillAnimation {
    from {
        background-position: 100% 0%;
    }
    to {
        background-position: 0% 0%;
    }
}
