name: version

permissions:
  contents: write
  packages: write

on:
  workflow_dispatch:
    inputs:
      type:
        type: choice
        required: true
        default: 'alpha'
        description: Which type of release
        options:
        - alpha
        - patch
        - minor
        - major
jobs:
  bump_version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT_TOKEN }}
      - name: Setup Node.js
        uses: actions/setup-node@v4
      - name: Update version
        run: |
          git config user.name joel
          git config user.email joel.lof@icloud.com
          echo "Current version: $(node -p "require('./package.json').version")"
          VERSION="${{ github.event.inputs.type }}"
          if [ -z "$VERSION" ]; then
            VERSION="alpha"
          fi
          if [ $VERSION = "alpha" ]; then
            echo "Pre-release: $VERSION"
            npm version prerelease --preid=alpha
          else
            echo "Stable release: $VERSION"
            npm version $VERSION
          fi
          echo "Updated version to $(node -p "require('./package.json').version")"
          git push --follow-tags
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
